---
layout: layouts/hello
---
<div class="xyzzy">
  {% assign sections = landing.sections %}
  {% for section in sections %}
    {% assign sectionType = section._type %}
    {% if section and sectionType %}
      {% case sectionType %}
        {% when 'sectionBlue' %}
          {% include 'components/section_blue', section: section %}
        {% when 'sectionPink' %}
          {% include 'components/section_pink', section: section %}
        {% when 'sectionTaskList' %}
          {% include 'components/section_task_list', section: section %}
      {% endcase %}
    {% endif %}
  {% endfor %}
</div>